<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pose Picker Admin</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #3d68ff;
        }

        .cta-btn {
            color: #3d68ff;
        }

        .upgrade-btn {
            background: #1947ee;
        }

        .upgrade-btn:hover {
            background: #0038fd;
        }

        .active-nav-link {
            background: #1947ee;
        }

        .nav-item:hover {
            background: #1947ee;
        }

        .account-link:hover {
            background: #3d68ff;
        }
    </style>
</head>

<body class="bg-gray-100 font-family-karla flex">

    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="#" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Pose Picker Admin</a>
        <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-plus mr-3"></i> New Report
        </button>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a href="tables" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-table mr-3"></i>
            포즈 전체 보기
        </a>
        <a href="forms" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            포즈 등록 하기
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            🛠 포즈톡
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            🛠 포즈태그
        </a>
    </nav>
</aside>

    <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                <h1 class="w-full text-3xl text-black pb-6">Forms</h1>

                <div class="flex flex-wrap">
                    <div class="w-full lg mt-6 pl-0 lg:pl-2">
                        <p class="text-xl pb-6 flex items-center">
                            <i class="fas fa-list mr-3"></i> 포즈 정보 등록 하기
                        </p>
                        <div class="leading-loose">
                            <form class="p-10 bg-white rounded shadow-xl" action="/api/admin/pose" method="post" enctype="multipart/form-data" onsubmit="return onFormSubmit()">
                                <div class="">
                                    <label class="block text-sm text-gray-600" for="file">File:</label>
                                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="file" name="file" />
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="peopleCount">People Count:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="peopleCount" placeholder="2"/>
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="frameCount">Frame Count:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="frameCount" placeholder="4"/>
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="tags">Tags:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="tags" placeholder="남자_유행_연예인_친구_소품_재미_지석진_김수용"/>
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="source">Source:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="source" placeholder="@jeeseockjin"/>
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="sourceUrl">Source URL:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="sourceUrl" placeholder="www.instagram.com_jeeseokjin"/>
                                </div>

                                <div class="mt-2">
                                    <label class="block text-sm text-gray-600" for="description">Description:</label>
                                    <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" name="description" placeholder="지석진 김수용-유튜브 지편한세상"/>
                                </div>

                                <div class="mt-6">
                                    <input class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit" value="업로드" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="w-full bg-white text-right p-4">
                Built by <a target="_blank" href="/swagger-ui/#/" class="underline">api-posepicker</a>.
            </footer>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script>
        function onFormSubmit() {
            alert("이미지가 정상적으로 등록되었습니다.");
            return true;
        }
    </script>
</body>

</html>
